.productCard{
    background-color: rgb(115, 97, 133);
    color:azure;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
    text-align: center;
}
.carta{
    margin: 50px;
}
.carta button{
    border: 20px;
    color:rgba(167, 233, 60, 0.938);
    background-color: green;
    padding:10px;
}
.carta img{
    width: 200px;
    height: 200px;
}